<div class="mt-5">
    <app-table 
        [data]="products" 
        [config]="config" 
        [selectable]="true"
        [allowAdd]="true"
        [allowEdit]="true"
        [allowDelete]="true"
        [lazy]="false"
        [entity]="entity"
        (saved)="onSave($event)"
        (deleted)="onDelete($event)"
    >
    </app-table>
</div>
