<div class="card mt-5">
    <app-list
        [items]="products"
        [pagination]="true"
        [enableAdd]="false"
        [enableDateRange]="false"
        [totalRecords]="totalRecords"
        [gridItemTemplate]="gridTemplate"
        [listItemTemplate]="listTemplate"
        [sortOptions]="sortOptions"
        [sortKey]="'name'"
    >
    </app-list>
</div>

<ng-template #gridTemplate let-product pTemplate="gridItem">
    <div class="col-12 md:col-4">
            <div class="product-grid-item-top">
                <div>
                    <i class="pi pi-tag product-category-icon"></i>
                    <span class="product-category">{{product.category}}</span>
                </div>
                <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
            </div>
            <div class="product-grid-item-content mt-2 mb-2">
                <div class="product-name">{{product.name}}</div>
                <div class="product-description">{{product.description}}</div>
                <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <div class="product-grid-item-bottom">
                <span class="product-price">${{product.price}}</span>
                <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
            </div>
    </div>
</ng-template>
<ng-template #listTemplate let-product pTemplate="listItem">
    <div class="col-12">
        <div class="d-flex align-items-center">
                <div class="col-2">{{product.name}}</div>
                <div class="col-2">
                    <i class="pi pi-tag product-category-icon "></i><span class="product-category">{{product.category}}</span>
                </div>
                <p-rating class="col-3" [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                <span class="product-price col-2">${{product.price}}</span>
                <p-button class="col-3" icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
            </div>
        </div>
</ng-template>